<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Sensescribe</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/aa6753ef1b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.0.4/pixi.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/PixiPlugin.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_container">
            <a href="/" id="navbar_logo"><img src="/static/sensescribelogo.svg" alt="Sensescribe Logo" style="height: 60px; width: auto; vertical-align: middle;">Sensescribe</a>
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span the="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a href="javascript:void(0);" class="navbar_links">Project Details</a>
                </li>
                <li class="navbar_btn">
                    <a href="javascript:void(0);" class="button">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
  <div class="main">
    <div class="main_container">
        <div class="main_content">
            <h1>Express emotion at<br> higher bandwidth,</h1>
            <h2>text was only <br>the beginning...</h2>
        </div>
        <div class="input_container">
            <textarea id="textInput" placeholder="Enter an extract of text to sensescribe... 
Or name a book in the box below and press example..." rows="10" cols="50"></textarea>
            <div class="example_generator">
                <input type="text" id="bookTitleInput" placeholder="E.g: War & Peace">
                <button id="generateExampleButton">Example</button>
            </div>  
            <div class="selection">
                <div class="voice_selection">
                    <span class="select-voice-label">Voice:</span>
                    <select id="voiceSelect">
                        <optgroup label="U.S Male">
                            <option value="Antoni">Antoni</option>
                            <option value="Arnold">Arnold</option>
                            <option value="Callum">Callum</option>
                            <option value="Charlie">Charlie</option>
                            <option value="Clyde">Clyde</option>
                            <option value="Drew">Drew</option>
                            <option value="Fin">Fin</option>
                            <option value="Harry">Harry</option>
                            <option value="James">James</option>
                            <option value="Jeremy">Jeremy</option>
                            <option value="Joseph">Joseph</option>
                            <option value="Josh">Josh</option>
                            <option value="Liam">Liam</option>
                            <option value="Michael">Michael</option>
                            <option value="onyx">Onyx</option>
                            <option value="Patrick">Patrick</option>
                            <option value="Paul">Paul</option>
                        </optgroup>
                        <optgroup label="U.S Female">
                            <option value="alloy">Alloy</option>
                            <option value="Domi">Domi</option>
                            <option value="echo">Echo</option>
                            <option value="Elli">Elli</option>
                            <option value="Emily">Emily</option>
                            <option value="Matilda">Matilda</option>
                            <option value="Rachel">Rachel</option>
                            <option value="Sarah">Sarah</option>
                            <option value="shimmer">Shimmer</option>
                        </optgroup>
                        <optgroup label="U.K Male">
                            <option value="Dave">Dave</option>
                            <option value="George">George</option>
                        </optgroup>
                        <optgroup label="U.K Female">
                            <option value="Charlotte">Charlotte</option>
                            <option value="Dorothy">Dorothy</option>
                            <option value="fable">Fable</option>
                        </optgroup>
                    </select>
                </div>
                <div class="art_selection">
                    <span class="select-style-label">Art Style:</span>
                    <select id="artStyleSelect">
                        <option value="abstract">Abstract</option>
                        <option value="renaissance">Renaissance</option>
                        <option value="realistic">Realistic</option>
                        <option value="impressionist">Impressionist</option>
                        <option value="surreal">Surreal</option>
                        <option value="water colour">Water Colour</option>
                        <option value="pop_art">Pop Art</option>
                        <option value="cartoon">Cartoon</option>
                        <option value="anime">Anime</option>
                        <option value="pixar">Pixar</option>
                        <option value="graffiti">Graffiti</option>
                        <option value="film noir">Film Noir</option>
                    </select>
                </div>
                <div class="music_selection">
                    <span class="select-genre-label">Music Genre:</span>
                    <select id="musicGenreSelect">
                        <option value="classical">Classical</option>
                        <option value="jazz">Jazz</option>
                        <option value="rock">Rock</option>
                        <option value="electronic">Electronic</option>
                        <option value="ambient">Ambient</option>
                        <option value="LoFi">LoFi</option>
                        <option value="trance">Trance</option>
                        <option value="film score">Film Score</option>
                    </select>
                </div>
                <audio controls id="voiceExamplePlayer" class="styledAudio" style="flex: 1;">
                    <source id="voiceExampleSource" src="" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>          
            <button id="generateButton">Sensescribe</button>
        </div>
    </div>
    <div class="outputContainer" style="display:none;"> 
        <div id="loadingBar" class="loadingBar"></div>
        <img id="outputImage" class="outputImage" alt="Generated visual" src="" style="max-width: 500px; height: auto;">
        <audio controls id="generatedAudioPlayer" class="styledAudio"></audio>
        <video controls id="generatedVideoPlayer" class="styledVideo" style="max-width: 500px; height: auto; display: none;"></video>
        <div class="share-buttons" style="display:none;">
            <a id="downloadAButton" href="#" download="sensescribe_output.mp3" class="share-button">Download Audio</a>
            <a id="downloadVButton" href="#" download="sensescribe_output.mp4" class="share-button">Download Video</a>
            <a id="shareX" href="#" target="_blank" class="share-button"><i class="fa-brands fa-x-twitter"></i> Share on X</a>
        </div>        
    </div>
    <div class="services" id="servicesSection">
        <h1>Project Details</h1>
        <div class="services_container" id="servicesContainer">
            <div class="services_card_a">
                <div class="card_inner_a">
                    <div class="card_front_a">
                        <h2>Text to sense</h2>
                    </div>
                    <div class="card_back_a">
                        <h4>How A.I. Can Convert Text to Sense</h4>
                        <p><br>A.I offers solutions to transform text into multi-sensory experiences, enhancing how we perceive and interact with written content. By leveraging multiple models, text can be converted into immersive and customisable sensory outputs.<br>
                            <br>By transforming text into a holistic sensory experience, literature can cater to more diverse learning styles and preferences. This innovation not only enhances storytelling but also makes content more accessible and engaging, offering a unique way to experience written words.</p>
                    </div>
                </div>
            </div>
            <div class="services_card_b">
                <div class="card_inner_b">
                    <div class="card_front_b">    
                        <h2>Concept Demonstration</h2>
                    </div>
                    <div class="card_back_b">
                        <h4>Mechanism Behind the Demo Concept</h4>
                        <p><br>1. Input: Text is inserted, or an extract from chosen literature is generated by GPT-4o.<br> 
                            <br>2. Speech: Elevenlabs or OpenAI TTS models convert text into narration.<br>
                            <br>3. Vision: The text is translated by GPT-4o into a prompt for DALL-E to visualise.<br>
                            <br>4. Music: GPT-4o requests an instrumental of the user-chosen genre from the Spotify API to complement the mood and context.<br>
                            <br>5. Output: A combination of vision and audio converts text into a multi-sensory output.</p>
                    </div>
                </div>    
            </div>
            <div class="services_card_c">
                <div class="card_inner_c">
                    <div class="card_front_c">    
                        <h2>Enhanced audio books</h2>
                    </div>
                    <div class="card_back_c">
                        <h4>Project Aim</h4>
                        <p>Sensescribe aims to ehance the experience of literature by integrating live imagery and music tailored to both the contextual narrative, and user preferences.<br>
                        <br>The service will combine the auditory immersion of traditional audiobooks with dynamic visual and musical elements to enrich the experience, and cater to diverse learning styles and preferences.<br>
                        <br>The project aims to transcend limitations of text to advance the bandwith of the communication of information and emotion.</p>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <div class="footer_container" id="contact">
        <div class="footer_logo">
            <a href="/" id="footer_logo"><img src="/static/sensescribelogo.svg" alt="Sensescribe Logo" style="height: 100px; width: auto; vertical-align: middle;"><b>Sensescribe</b></a>
        </div>
        <div class="footer_links">
            <div class="footer_link-items">
                <!--<h3>Email</h3>-->
                <a href="mailto:contact@sensescribe.com">contact@sensescribe.com</a>
            </div>
            <div class="social_icons">
                <!--<h3>Social Media</h3>-->
                <a href="https://github.com/sensescribe" class="social-icon-link" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="https://X.com/sensescribe" class="social-icon-link" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="https://www.tiktok.com/@sensescribe" class="social-icon-link" target="_blank" rel="noopener noreferrer">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
                <a href="https://www.instagram.com/sensescribe/" class="social-icon-link" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
  </div>
    <script src="/static/script.js"></script>
</body>
</html>
   
